input{
  text-align: left;
}
body{
  margin-top: 10%;
  text-align: center;
}
#logo{
  position: fixed;
    top: 1%;
    right: 10%;
}
#naam{
  width: 20%;
}
#email{
  width: 20%;
}
#mobiel{
  width: 20%;
}
#textarea {
    width: 20%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
#google{
  width: 60%;
}
